<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EJS模板引擎</h1>
    <!-- 输出后端传过来的数据(动态数据，后端或数据库中内容改变，这里也跟着改变) -->
    <h3><%=msg%></h3>
    <br />
    <ul>
        <%for(var i=0;i<list.length;i++){%>
        <li><%=list[i].name%></li>
        <%}%>
    </ul>
</body>
</html>