<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vuejs/vue.js"></script>
    <title>收集表单数据</title>
</head>
<body>
    <div id="root">
        <form action="">
            <!-- trim: 去掉前后空格 -->
            账号: <input type="text" v-model.trim="userInfo.account" /><br />
            密码: <input type="password" v-model="userInfo.password" /><br />
            <!-- type: 默认只能输入数字  修饰符：使收集到的为数字 -->
            年龄: <input type="number" v-model.number="userInfo.age">
            性别: 
            <!-- v-model默认收集value值，所以这里需要指定value -->
            男<input type="radio" name="sex" value="male" v-model="userInfo.sex" />
            女<input type="radio" name="sex" value="female" v-model="userInfo.sex" /><br>

            爱好: 
            <!-- 对于checkbox类型，1、收集的为 checked值  2、初始值会影响收集到值,所以初始值应为数组，而不是字符串 -->
            学习<input type="checkbox" v-model="userInfo.hobby" value="study" />
            玩游戏<input type="checkbox" v-model="userInfo.hobby" value="gamma" />
            吃饭<input type="checkbox" v-model="userInfo.hobby" value="eat" />
            <br>
            所属校区
            <select v-model="userInfo.city">
                <option value="">请选择校区</option>
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
                <option value="chongqing">重庆</option>
                <option value="shenzhen">深圳</option>
            </select>
            <br>
            <!-- 失去焦点时收集信息 -->
            其他信息：<textarea v-model.lazy="userInfo.other"></textarea>
            <br>
            <input type="checkbox" v-model="userInfo.agree">阅读并接受 <a href="http://www.baidu.com">《用户协议》</a></input><br>
            <!-- 表单中button默认会提交跳转，所以这里需要阻止默认事件 -->
            <button @click.prevent="submitForm">提交</button>
        </form>
        
    </div>
    <script>
        Vue.config.productionTip = false;
       
        const vm = new Vue({
            el: '#root',
            data() {
                return {
                    userInfo: {
                        account: '',
                        password: '',
                        sex: 'male',
                        hobby: [],
                        city: '',
                        other: '',
                        agree: '',
                        age:'',
                    }
                }
            },
            methods: {
                submitForm() {
                    console.log('kk');
                }
            }
            
            
        })
    </script>
</body>
</html>